.category {
    display: flex;
    flex-direction: column;
}

.category div {
    justify-content: center;
    gap: 5px;
}

.category h2 {
    margin-block: 50px;
    text-align: left; 
    padding-block: 30px;
}

.line {
    width: 0px;
    height: 0px;
    background-color: white;
    box-shadow: 0px 0px 8px white;
    margin-right: 30px;
    width: 100%;
}