@font-face {
    font-family: psfont;
    src: url(./font/psfont.ttf);
}

@font-face {
    font-family: xboxfont;
    src: url(./font/xboxfont.ttf);
}

@font-face {
    font-family: nintendofont;
    src: url(./font/nintendofont.ttf);
}

@font-face {
    font-family: steamfont;
    src: url(./font/steamfont.otf);
}

.plataform {
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
}

.nintendo {
    border: 3px solid white;
    border-radius: 5px;
    padding: 2px;
}