.link {
    display: contents;
    color: white;
    transition: 0.0s ease;
    text-shadow: none;
}

.link:hover {
    color: black;

    i {
        color: black;
    }
}

.searchGame {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    background-color: #80808000;
    padding: 5px;
    text-align: left;
    transition: 0.3s ease;
    cursor: pointer;
    border-radius: 1px;
}

.searchGame:hover {
    background-color: #ddd2d2;
}

.searchGame img {
    width: 130px;
    height: 80px;
    margin-right: 10px;
    border-radius: 3px;
}

.info {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
}

.title {
    font-weight: bold;
    margin-bottom: 5px;
}

.discount {
    background-color: #008000ba;
    color: white;
    padding: 2px;
    border-radius: 2px;
    margin-right: 5px;
    width: 100%;
}

.noDiscount {
    text-decoration: line-through;
}

.delete {
    position: absolute;
    margin-top: -60px;
    margin-left: 350px;
}